h1, h2, h3, h4, h5 {
	color: #43aabf;
}

h1 {
	border-bottom: 1px solid #43aabf;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

h4 {
	border-bottom: 1px solid #9dccb0;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

a {
	color: #43aabf;
	text-decoration: underline;

}
	a:hover {
		color: #4da873;
	}

#content-wrapper li {
	list-style: square;
}

input, button {
	border-radius: 0px !important;
}

.field-validation-error {
	background: #bc2921;
	padding: 5px;
	color: #fff;
	display: block;
}

#logo {
	max-height: 125px;
}


header {
	padding: 10px 0px;
	font-size: 14px;
}
	header img {
		max-width: 100%;
	}
	header a {
		color: #43aabf;
		text-decoration: none;
	}
	header a:hover {
		color: #4da873;
		text-decoration: none;
	}

nav {
	margin-bottom: 20px;
}
	nav a {
		text-decoration: none;
	}

.bg-fowlersmenu {
	background: #43aabf;
}
.nav-fowlersmenu {
	padding-top: 0px;
	padding-bottom: 0px;
}
.nav-fowlersmenu .nav-link {
	color: #ffffff;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 15px !important;
	padding-right: 15px !important;
}
.nav-fowlersmenu .nav-link:hover, .nav-fowlersmenu .nav-item.active .nav-link {
	color: #ffffff;
	background: #0c1c13;
}

.bg-fowlers {
	background: #43aabf;
}
.list-group-item-action {
	text-decoration: none;
}

footer {
	margin-top: 20px;
	background: #43aabf;
	color: #ffffff;
	padding: 15px;
}
	footer a, footer h4 {
		color: #ffffff;
	}
	footer ul, li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
	footer img {
		max-width: 100%;
	}
